footer {
    padding: 2rem 0 2rem 0;
    ;
    text-align: center;
    border-top: 1px dashed #2C2C2C;
}

footer p {
    color: #BABABA;
    font-size: 0.75rem;
    font-weight: 200;
}

.strong {
    font-weight: 300;
}