.Hero {
    margin-top: 3rem;
    margin-bottom: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 2rem;
    grid-auto-flow: row;
    grid-template-areas:
        "Hero-Photo Hero-Content Hero-Content";
    align-items: center;
}

.Hero-Photo {
    grid-area: Hero-Photo;
}

.Hero-Content {
    grid-area: Hero-Content;
}

.Hero-Content-Title {
    color: #FEFEFF;
    font-family: 'Unna', serif;
    font-size: 3.5rem;
    font-weight: 400;
}

.Hero-Content-Badge{
    margin-bottom: 1rem;
}

.Hero-Content-Badge a {
    text-decoration: none;
    color: #FEFEFF;
    background-color: #00B020;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    font-size: 0.75rem;
    font-weight: 300;
}

.Hero-Content-Badge a:hover {
    background-color: rgb(0, 124, 25);
    transition: all 0.5s ease;
}

.wave:hover {
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}

@keyframes wave-animation {
    0% {
        transform: rotate(0.0deg)
    }

    10% {
        transform: rotate(14.0deg)
    }

    20% {
        transform: rotate(-8.0deg)
    }

    30% {
        transform: rotate(14.0deg)
    }

    40% {
        transform: rotate(-4.0deg)
    }

    50% {
        transform: rotate(10.0deg)
    }

    60% {
        transform: rotate(0.0deg)
    }

    100% {
        transform: rotate(0.0deg)
    }
}


.Hero-Content-Title-Mobile {
    display: none;
}

.Hero-Content-Subtitle {
    color: #BABABA;
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    margin-top: 1rem;
}

.Hero-Photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 0px 10px 0px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.Hero-Photo img:hover {
    transform: scale(1.1);
    transition: all 1s ease;
}





.Hero-Content-Icons {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 1.5rem;
    gap: 1.5rem;
}

.Hero-Content-Icons-Icon {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #BABABA;
    font-weight: 200;
    font-size: 0.9rem;
}

.Hero-Content-Icons-Icon a {
    text-decoration: none;
    color: #BABABA;

}

.Hero-Content-Icons-Icon a:hover {
    color: #FEFEFF;
    transition: all 0.5s ease;
    text-decoration: underline;
}


@media only screen and (max-width: 768px) {
    .Hero {
        grid-template-columns: 1fr;
        grid-template-areas: "Hero-Content";
    }

    .Hero-Photo {
        display: none;
    }

    .Hero-Content {
        grid-area: Hero-Content;
        text-align: center;
    }

    .Hero-Content-Icons {
        justify-content: center;
        align-items: center;
    }

    .Hero-Content-Title {
        font-size: 4rem;
        display: none;
    }

    .Hero-Content-Title-Mobile {
        display: block;
        color: #FEFEFF;
        font-family: 'Unna', serif;
        font-size: 3.5rem;
        font-weight: 400;
        text-align: center;
    }

    .red {
        color: #FF012F;
    }

    .wave {
        animation-name: wave-animation;
        animation-duration: 2.5s;
        animation-iteration-count: infinite;
        transform-origin: 70% 70%;
        display: inline-block;
    }

    @keyframes wave-animation {
        0% {
            transform: rotate(0.0deg)
        }

        10% {
            transform: rotate(14.0deg)
        }

        20% {
            transform: rotate(-8.0deg)
        }

        30% {
            transform: rotate(14.0deg)
        }

        40% {
            transform: rotate(-4.0deg)
        }

        50% {
            transform: rotate(10.0deg)
        }

        60% {
            transform: rotate(0.0deg)
        }

        100% {
            transform: rotate(0.0deg)
        }
    }

}